[submodule "doc/electrum-cash-protocol"]
	path = doc/electrum-cash-protocol
	url = https://github.com/cculianu/electrum-cash-protocol.git
[submodule "contrib/art"]
	path = contrib/art
	url = https://github.com/cculianu/Fulcrum-art.git
