language: cpp
compiler: gcc
os: linux
dist: bionic
jobs:
  fast_finish: true
  include:
    - os: linux
      dist: bionic
      env: TARGET_OS=ubuntu
    - os: osx
      osx_image: xcode11
      env: TARGET_OS=mac
      compiler: clang
    - os: windows
      env: TARGET_OS=pc TARGET_MINGW=mingw64 MINGW_ARCH=x86_64
      cache: false
before_install:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.before_install"
install:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.install"
script:
  - "${TRAVIS_BUILD_DIR}/travis/${TRAVIS_OS_NAME}.${TARGET_OS}.script"
