[Unit]
Description=Fulcrum SPV server for Qogecoin

[Service]
Type=simple
User=fulcrum
LimitNOFILE=20000:32767
ExecStart=/usr/bin/fulcrum -S --datadir /var/lib/fulcrum /etc/fulcrum/fulcrum-qogecoin.conf

[Install]
WantedBy=multi-user.target
